
#cardsContainer{
    display: grid;
    grid-template-columns: minmax(calc( var(--card-size) *1px), max-content) repeat(auto-fill, calc( var(--card-size) *1px));
}

.card{
    width:calc( var(--card-size) *1px);
    height:calc( var(--card-size) * 1px);
    position:relative;
    transition: all .5s ease-out;
    cursor:pointer;
    display:grid;
}

.card:hover:after{
    display:none;
} 

.card:after{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    position: absolute;
    bottom: -3px;
    right: -3px;
    transform: rotate(45deg);
    z-index: 999;
}


.card:hover {
    z-index: 999;
    box-shadow:0 0 40px #000000;
}
.card .card-button {
    opacity:0;
}

.card:hover .card-button {
    opacity:1;
    display:block;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid var(--primary-color);
    place-self: center;
    border-radius: 100%;
    color: var(--primary-color);
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    font-family: monospace;
    transform: rotate(90deg);
    transition: transform .5s;

}

.card-img{
    opacity:.4;
    transition: all .2s ease-out;
    position: absolute;
    top:0px;
    bottom:0px;
    width:100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.card:hover .card-img{
    opacity: 1;
    transform: scale(1.05);
}
.card:hover .card-img:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    opacity:.8;
}

.card-title {
    font-family: Oswald;
    font-weight: 100;
    background: var(--primary-color);
    padding: 20px 10px;
    top:  calc( var(--card-size) *1px - 20px);
    position: absolute;
    height : 20px;
    opacity : 0;
    transition :all .5s;
    left:0px;
    right:0px;
    text-align:center;
    color: var(--secondary-color-light);
}

.card:hover .card-title {
    top:  calc( var(--card-size) * 1px - 60px);
    opacity:1;
    display:block;
}